#root {
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.first-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

textarea {
  resize: none;
}
